.container{
    margin-top: 7%;
    width: 80%;
    box-shadow: 7px 7px 5px rgb(179, 178, 178);
    }
    
    .content{
        color: whitesmoke;
    background-color: rgb(122, 151, 248);
    }
    .brand{
        padding-top: 5%;
    }
    .main-content{
        padding-top: 14%;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    
    .login{
        color: rgb(44, 43, 43);
        background-color: rgb(248, 248, 248);
    }
    .top{
        padding-top: 5%;
    }
    .login-content{
        text-align: center;
        padding-top: 30%;
        width: 80%;
        margin:auto ;
    }
    
    input{
        border: none;
        border-bottom: 1px solid rgb(236, 235, 235);
    }
    
    .social{
        text-align: center;
        display: block;
    }
    
    .social a{
    padding-left: 6%;
    }
    
    .footer{
        background-color:white;
    }
    
    