  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="brand">
              <a class="navbar-brand" href="#">
                <img src="https://i.postimg.cc/6pMpgvGw/SGS.jpg" alt="" width="50" height="34" class="d-inline-block align-text-top" />
              </a>
            </div>
          </li>
          <li class="nav-item" *ngIf="checkArray.includes('Requirements')">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/requirements']">Requirements</a>
          </li>
          <li class="nav-item" *ngIf="checkArray.includes('User Management')">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/user-management']">User-management</a>
          </li>
          <li class="nav-item" *ngIf="checkArray.includes('Permissions')">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/roles']">Roles & Permissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients']">Clients</a>
          </li>
          <li class="nav-item" *ngIf="checkArray.includes('Clients')">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/roles']">abcd</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
             Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['/settings']">Skills</a></li>
              <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['/settings/location']">Locations</a></li>
              <li><a class="dropdown-item" href="#">#</a></li>
              <li><a class="dropdown-item" href="#">#</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-light" type="button" (click)="clear()">Logout</button>
        </div>
      </div>
    </div>
  </nav>

