<app-header></app-header>

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h1>Hi {{name}} Welcome!</h1>
            <p class="small mt-5">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
            </p>
        </div>
    </div>
</div>