<app-header> </app-header>
 <section>
    <form id="head">
      <h1>QA Automation Engineer - Selenium (Immediate Joiners)</h1>
      <h3>Acubetech Solutions Private Limited </h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td colspan="3"><img src="images/experience.jpg" width="30" height="30"
                style="margin: 1px 10px -10px 10px;">5-10 Years</td>
          </tr>
          <tr>
            <td colspan="2"><img src="images/wallet-icon-free-vector.jpg" width="30" height="30"
                style="margin: 1px 10px -10px 10px;">Not Disclosed</td>
            <td class="alignRight" rowspan="2"><button class="save">Save</button><button class="apply">APPLY</button>
            </td>
          </tr>
          <tr>
            <td class="alignLeft"><img src="images/location.jpg" width="30" height="30"
                style="margin: 1px 10px -10px 10px;">Bangalore/Bengaluru, Mysore/Mysuru, Chennai(WFH during Covid)</td>
          </tr>
          <tr>
            <td colspan="3">
              <table class="table table-borderless">
                <tbody>
                  <tr>`
                    <td class="post">Posted: <b>6 days ago</b> </td>
                    <td class="job">Job Applicants:<b> 5582</b> </td>
                    <td class="send"><a href="">Send Me Jobs Like This</a></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

    </form>
  </section>
  <section>
    <div>
      <form id="body">
        <div style="background-color:rgb(156, 205, 252); padding-bottom: 1%; padding-top: 1%;">
          <ul>
            <li id="line"><label>
                <h5>Job Highlights</h5>
              </label></li>
            <ul>
              <li id="line1">Automation Testing - Selenium Experience: 5+ years</li>
            </ul>
            <hr>
            <li id="line"><label>
                <h5>Your Job Match Score</h5>
              </label></li>
            <ul>
              <li id="line2">
                <div class="form-check form-check-inline">

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"> Early Applicant</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Keyskills</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Location</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Work Experience</label>
                  </div>
                </div>
              </li>
            </ul>
            <li style="list-style-type: none;"><label>
                <h6>Your profile is missing the skills required for this job. Take these courses to increase your
                  chances of getting hired.</h6>
              </label></li>
            <ul>
              <li id="line2"><button type="button" class="btn btn-outline-secondary"><b
                    style="color: black;">Java</b></button>
                <button type="button" class="btn btn-outline-secondary"><b style="color: black;">WebDriver</b></button>
                <button type="button" class="btn btn-outline-secondary"><b style="color: black;">QA</b></button>
                <button type="button" class="btn btn-outline-secondary"><b style="color: black;">Jenkins</b></button>
                <button type="button" class="btn btn-outline-secondary"><b style="color: black;">Testng</b></button>
              </li>
            </ul>
          </ul>
        </div>
        <div style="padding-left: 3%; padding-top: 1%;">
          <h4>Job Description</h4>
          <p>Roles and Responsibilities</p>
          <p>Automation Testing - Selenium Experience: 5+ years<br>
            location: Bangalore/Chennai. <br>
            no. of openings - 1<br></p>
          <h6>Selecting or identifying Areas/Test cases for Automation.<br>
            <ul>
              <li>Desiging & implementing test automation</li>
              <li>Desiging & implementing test automation</li>
              <li>Creating Automation test</li>
              <li>Selenium</li>
              <li>Involvement</li>
            </ul>
          </h6>
        </div>
      </form>
    </div>
  </section>
